<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <!-- choose operation -->
     <div class="toolbar-title">Math Jungle</div>
     <div class="grid-container">
       <div class="operation-image addition" 
            [class.pressed]="selectedOperation === '+'" 
            (click)="selectOperation('+')"></div>
       <div class="operation-image subtraction" 
            [class.pressed]="selectedOperation === '-'" 
            (click)="selectOperation('-')"></div>
       <div class="operation-image multiplication" 
            [class.pressed]="selectedOperation === 'x'" 
            (click)="selectOperation('x')"></div>
       <div class="operation-image division" 
            [class.pressed]="selectedOperation === '/'" 
            (click)="selectOperation('/')"></div>
     </div>
     <div class="score-box">
       <p>Score: {{ score }}</p>
     </div>
  </header>
  
  <main>
    <div *ngIf="!gameStarted" class="container d-flex justify-content-center my-5">
      <div class="row justify-content-center w-100" style="max-width: 800px;">
        <!-- First Column for Text -->
        <div class="greeting col-lg-6 col-md-6 col-sm-12 text-center">
          <h2>Choose your Adventure</h2>
          <p>
            Hi Kids! I'm <strong>Marvin the Math Monkey</strong>, here to help you swing through your math challenges! 
            Choose your math adventure, and let's dive into the jungle to tackle numbers together. Whether it's adding, 
            subtracting, multiplying, or dividing, I'm here to guide you every step of the way. So, pick your challenge, 
            and let's get to math! 🌟
          </p>
        </div>
        
        <!-- Second Column for Image -->
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <img src="monkey.webp" alt="Math Jungle" class="greetImage img-fluid mt-1">
        </div>
      </div>
    </div>


      <!-- question -->
      <div class="text-center my-2">
        <div *ngIf="currentQuestion">
          <div class="question-container">
            <!-- Display the current question text -->
            {{ currentQuestion.questionText }}
          </div>
 
     <!-- multiple choice  -->
        <div class="btn-group-container">
          <div class="btn-group my-3 btn btn-outline-warning ">
            <div *ngFor="let choice of currentQuestion.choices" >
              <button class="choice-button btn" (click)="checkAnswer(choice)">{{ choice }}</button>
            </div>
          </div>
        </div>
 
 
      <!-- Next Question and Reset Buttons -->
      <div class="buttons text-center mt-4">
        <button *ngIf="feedback" class=" btn btn-primary" (click)="nextQuestion()">Next Question</button>
        <button *ngIf="feedback" class="btn btn-danger" (click)="resetGame()">Reset Game</button>
      </div>
      

       <!-- Answer message -->
       <div class="text-center my-2">
        <div *ngIf="feedback" class="answer mt-3 p-3  text-white  mx-auto" style="max-width: 800px;">
          <div class="text-center my-2">
            <div *ngIf="feedback" 
                [ngStyle]="{ 'background-color': feedback === 'Correct! 🎉' ? '#b4f577' : '#db5467' }" 
                class="answer p-3 mb-0">
                <p class="mb-0">{{ feedback }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
 
</main>
 </body>
   
</html>

